* {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #294e3d;
  cursor: none;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
}

section.preProjects {
  height: 5px;
}

/* ----- CUSTOM CURSOR ----- */

#custom-cursor {
  width: 48px; 
  height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; 
  background-image: url("./assets/images/cursor.svg");
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: 'difference'; 
  transform: translate(-50%, -50%); 
  z-index: 10000; 
  transition: mix-blend-mode 0.2s ease;
}

.element:hover ~ .cursor {
  mix-blend-mode: color-dodge;
  background-color: black;
}

/* ----- NAVBAR ----- */
.navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: #294e3d;
  color: white;
  padding: 0 72px;
  box-sizing: border-box; 
  z-index: 1;
}

.navbar .logo {
  font-size: 36px;
  font-style: italic;
  font-weight: 800;
}

.nav-list {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  display: flex;
  flex-direction: row;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-list-item {
  position: relative;
  margin-left: 60px;
}

.nav-list-item::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-list-item:hover::after {
  width: 100%;
}

/* ----- ACCUEIL ----- */
.home {
  position: relative;
  overflow: hidden;
}

.duverseau {
  position: absolute;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  bottom: -3vw;
  color: white;
  z-index: -1;
}

.duverseau p:nth-child(2) {
  margin: 0;
  font-size: 22.2vw;
  font-style: italic;
}

.jeremy {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  transform: translateY(125%);
}

.jeremy p {
  font-size: 5vw;
  margin: 0 20px;
  font-style: italic;
  font-weight: 500;
}

.pWheel {
  width: 100px;
}

/* ----- PROJETS ----- */

section.projects {
  overflow: hidden;
  position: relative;
}

.projects-content {
  display: flex;
  height: 100%;
  width: 300%;
}

.item {
  flex: 0 0 33.33%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #294e3d;
  color: white;
  font-size: 2em;
  padding: 60px;
  box-sizing: border-box; 
}

.item:last-child {
  border-right: none; 
}

.item-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.item-card {
  width: 100%;
  height: 45%;
  display: flex; 
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.item-card:nth-child(even) {
  flex-direction: row-reverse; 
}

.thumbnail {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  width: 50%; 
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 50%; 
  padding: 0px 20px;
}

.text h2 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 60px;
}
.text h3 {
  margin: 0;
  font-weight: 300;
  font-size: 48px;
}
.text h4 {
  margin: 0;
  font-weight: 200;
  font-size: 36px;
}
.text .title h3 {
  text-align: left;
}
.item-card:nth-child(even) .title h3 {
  text-align: right;
}

.item-card:nth-child(even) .text {
  align-items: flex-end;
}
.item-card:nth-child(odd) .text {
  align-items: flex-start;
}

.thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  z-index: 1;
  transition: filter 0.3s ease;
}

.item-card:hover .thumbnail img {
  filter: grayscale(0%);
}

.item-card:hover .thumbnail::after {
  opacity: 0;
}

.tictac {
  background-color: #294e3d;
}

.aurorae {
  background-color: #294e3d;
}

/* ----- CONTACT ----- */

section.contact {
  height: 70vh;
  overflow: hidden;
}

.contact-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  width: 100%;
  color: white;
  font-weight: 400;
  transition: scale 0.5s ease;
  height: 300px;
}

.contact-container a:hover {
  scale: 1.05;
  transition: scale 0.5s ease;
}

/* ----- FOOTER ----- */

section.footer {
  height: 36px;
  padding: 0 72px;
  margin-bottom: 16px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.footer-container p {
  margin: 0;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.footer-links a {
  position: relative;
}

.footer-links a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.footer-links a:hover::after {
  width: 100%;
}

.linkUp {
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

.up-icon {
  font-size: 24px;
}




.card-section {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  opacity: 0;
  transform: translateY(100px); /* Start position below */
  transition: all 0.5s ease-out;
}

/* ----- FONT ----- */
.urbanist-100 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.urbanist-200 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.urbanist-300 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.urbanist-400 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.urbanist-500 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.urbanist-600 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.urbanist-700 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.urbanist-800 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.urbanist-900 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
